#topGrid {
    min-height: 90vh;
}

.App-header {
    margin-top: 150px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.formBlock {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* .MuiTypography-body1 {
    padding-top: 20px;
} */

a {
    text-decoration: none; 
}

/* @font-face {
    font-family: 'Agrandir';
    src: local('Agrandir') url(./fonts/Agrandir/Agrandir-Regular.woff) format('woff');
} */

/* #userinfo {
    font-family: Agrandir;
} */