.App {
    margin-top: 150px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

/* @font-face {
    font-family: 'Agrandir';
    src: local('Agrandir') url(./fonts/Agrandir/Agrandir-Regular.woff) format('woff');
} */

/* #userinfo {
    font-family: Agrandir;
} */